:root {
	--font1: avenir-lt-w01_85-heavy1475544, sans-serif;
	--color1: #8A5EC8;
	--color2: #57259E;
	--color3: #6E3FAF;
	--color4: #A984DE;
	--color5: #CEB5F0;

}

/*{padding:0; margin:0;} /* remove stupid margins unless specified (reenabled maybe)*/
#a {
	margin: 0;
	padding: 0;
}

.root {
	position: relative;
	width: 70%;
	height: 100%;
	margin: auto;
}

.title {
	font-size: 400%;
	font-family: var(--font1);
	color: var(--color5);
}

.paragraph {
	color: white;
	font-size: 100%;
	font-family: var(--font1);
	white-space: normal;
}

.title-wrapper {
	text-align: center;
}

.header {
	text-align: center;
	background-color: var(--color1);
	height: 5%;
	width: 100%;
	position: relative;
}

.header-text {
	font-family: var(--font1);
	color: var(--color5);
	font-size: 200%;
	font-family: var(--font1);
}

.nav-bar {
	background-color: var(--color1);
	height: 5%;
	width: 100%;
	position: relative;
}

.content {
	position: relative;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-btn {
	text-align: center;
	cursor: pointer;
	font-size: 150%;
	font-family: var(--font1);
	color: var(--color5);
	margin: 0.3%;
	padding: 0.5%;
	width: 33%;
	height: 100%;
	border: none;
	background: none;
	background-color: var(--color2);
	transition-duration: 0.4s;
}
.btn-current {
	color: var(--color2);
	background-color: var(--color5);
}
.nav-btn:hover {
	color: var(--color2);
	background-color: var(--color5);
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}
.link {
	color: var(--color5);
}
body {
	background-color: #202020;
}