:root {
	--font1: avenir-lt-w01_85-heavy1475544, sans-serif;
	--color1: #8A5EC8;
	--color2: #57259E;
	--color3: #6E3FAF;
	--color4: #A984DE;
	--color5: #CEB5F0;
}

/*{padding:0; margin:0;} /* remove stupid margins unless specified (reenabled maybe)*/
a, a:hover, a:visited, a:active {
	color: var(--color5);
	text-decoration: none; /* todo later */
}
.root {
	position: relative;
	width: 70%;
	height: 100%;
	margin: auto;
}

.title {
	font-size: 400%;
	font-family: var(--font1);
	color: var(--color5);
}

.darkmode-switch {
	display: flex;
	align-items: left;
	justify-content: left;
	color: var(--color5);
}

.paragraph {
	color: white;
	font-size: 100%;
	font-family: var(--font1);
	white-space: normal;
}

.heading {
	color: white;
	font-family: var(--font1);
	white-space: normal;
}

.title-wrapper {
	text-align: center;
}

.header {
	text-align: center;
	background-color: var(--color1);
	height: 5%;
	width: 100%;
	position: relative;
}

.header-text {
	font-family: var(--font1);
	color: var(--color5);
	font-size: 200%;
	font-family: var(--font1);
}

.nav-bar {
	background-color: var(--color1);
	height: 5%;
	width: 100%;
	position: relative;
}

.content {
	position: relative;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.link {
	color: var(--color5);
}

.secret {
	position: fixed;
	width: 1%;
	height: 1%;
	top: 99%;
	right: 99%;
}

@media (scripting: none) {
	.secret {
	  display: none;
	}
  }

.nav-btn {
	text-align: center;
	cursor: pointer;
	font-size: 150%;
	font-family: var(--font1);
	color: var(--color5);
	margin: 0.3%;
	padding: 0.5%;
	width: 33%;
	height: 100%;
	border: none;
	background: none;
	background-color: var(--color2);
	transition-duration: 0.4s;
}

.btn-current {
	color: var(--color2) !important;
	background-color: var(--color5) !important;
}

.nav-btn:hover {
	color: var(--color2);
	background-color: var(--color5);
}

body {
	background-color: #202020;
}